@model Wedstrijd
@{
    ViewData["Title"] = "WedstrijdDetail";
}

<p>
    @if (Model.ScoreThuis != null)
    {
        <text>@Model.Datum.ToString("dd MMMM yyyy HH:mm")</text>
    }
    else
    {
        <text>@Model.Datum.ToString("dd MMMM yyyy")</text>
    }
</p>
<p class="text-right"> @Model.TeamThuis.Naam </p>
<p class="text-center">
    @if (Model.ScoreThuis != null)
    {
        <text>@Model.ScoreThuis - @Model.ScoreUit</text>
    }
    else
    {
        <text>@Model.Datum.ToString("HH:mm")</text>
    }
</p>
<p> @Model.TeamUit.Naam </p>

