@model WK2018.Areas.Admin.Models.WedstrijdViewModel.VoegWedstrijdToeViewModel

@{
    ViewData["Title"] = "VoegWedstrijdToe";

    var thuis = (IEnumerable<SelectListItem>)ViewData["LijstTeamThuis"];
    var uit = (IEnumerable<SelectListItem>)ViewData["LijstTeamUit"];
}

<h2>Nieuwe wedstrijd</h2>

<form asp-action="VoegWedstrijdToe">
    <div class="form-group">
        <label asp-for="@Model.Wedstrijd.Datum">@Html.DisplayNameFor(x => x.Wedstrijd.Datum)</label>
        <input asp-for="@Model.Wedstrijd.Datum" class="form-control" id="datetimepicker" type="text" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="@Model.Wedstrijd.TeamThuis.Naam">Thuisteam</label>

        <select asp-for="@Model.Wedstrijd.TeamThuisID" asp-items="@Model.Thuisteams"></select>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="@Model.Wedstrijd.ScoreThuis">Score thuis</label>
        <input asp-for="@Model.Wedstrijd.ScoreThuis" class="form-control" type="number" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="@Model.Wedstrijd.TeamUit.Naam">Uitteam</label>

        <select asp-for="@Model.Wedstrijd.TeamUitID" asp-items="@Model.Uitteams"></select>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="@Model.Wedstrijd.ScoreUit">Score uit</label>
        <input asp-for="@Model.Wedstrijd.ScoreUit" class="form-control" type="number" />
    </div>
    <input type="submit" value="VoegToe" />
</form>

<a asp-area="Admin" asp-controller="Wedstrijd" asp-action="Index">Back</a>

<script>jQuery('#datetimepicker').datetimepicker();</script>